Repository kokkos/pykokkos, pull requests merged in 2022-10, with the labels that each got.

#101 added compiler_path when using env variable to point to kokkos install
  pykokkos/core/cpp_setup.py
Labels: bug, build issues

#102 Make pykokkos export bindings for the generated functor
  pykokkos/core/translators/bindings.py
  pykokkos/core/translators/functor.py
Labels: enhancement

#94 ENH: sqrt to API standard
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#104 ENH: add __array_api_version__
  .github/workflows/array_api.yml
  pykokkos/__init__.py
  pykokkos/lib/info.py
Labels: enhancement, Python Array API Standard

#97 ENH: isfinite() to API std
  .github/workflows/array_api.yml
  pykokkos/interface/views.py
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#105 CI: unpin Python 3.10
  .github/workflows/main_ci.yml
Labels: maintenance, continuous integration

#95 ENH: log2 to API standard
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#112 ENH: log1p to arr API std
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#113 ENH: isinf to API std
  .github/workflows/array_api.yml
  pykokkos/interface/views.py
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#114 ENH: log() to API std
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#116 ENH: array object compliance
  .github/workflows/array_api.yml
  pykokkos/interface/views.py
Labels: enhancement, Python Array API Standard

#120 ENH: sign() to API std
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#121 ENH: square() to API std
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs

#122 ENH: cos to API std()
  .github/workflows/array_api.yml
  pykokkos/lib/ufuncs.py
Labels: enhancement, Python Array API Standard, ufuncs
